.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
  box-shadow: 0 2px 4px #d28c01;
 
 
}

.h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  height: 500px;

}

.label {

  font-size: 1.2rem;
  color: #7f89a1;
  font-weight: 500;
  font-size: 1rem;
 margin-top: 10px;
}

.input,
.textarea {
  padding: 8px;
  margin-bottom: 5px;
  margin-top: 10px;
   border-radius: 1px;
  border: none;
  box-shadow: 0 4px 8px #7f89a1;
  
}

.button[type="submit"] {
  padding: 10px;
  background-color: #717a8f; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button[type="submit"]:hover {
  background-color: #7c8baf;
}

.avertissement {
  color: red;
  font-size: small;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 480px;
    margin-top: 150px;

   
   
  }

}